image @IMAGE@ {
        size = 4G

        hdimage {
                align = 4096
        }

        partition boot {
                image = "@IMAGE@.boot.vfat"
                offset = 4MB
                partition-type = 0xC
                bootable = "true"
        }

        partition rootfs {
                image = @IMAGE@.rootfs.ext4
                partition-type = 0x83
                autoresize = true
        }
}
