image @IMAGE@ {
        size = 8G

        hdimage {
                align = 4096
        }

        partition boot {
                image = "@IMAGE@.boot.vfat"
                offset = 4MB
                partition-type = 0xC
                bootable = "true"
        }

        partition rootfs-1 {
                image = @IMAGE@.rootfs.ext4
                partition-type = 0x83
        }

        partition rootfs-2 {
                image = secondary
                partition-type = 0x83
        }

        partition data {
                image = data
                partition-type = 0x83
                autoresize = true
        }


}

image secondary {
        empty = true
        size = 700M
        ext4 {
            label = B    
        }
}
image data {
        empty = true
        size = 100M
        ext4 {
            use-mke2fs = true    
            label = DATA    
        }
}
image bundle.raucb {
	rauc {
			files = {
			@IMAGE@.rootfs.ext4
		}
		manifest = "
			[update]
			compatible=mapio-genimage
			version=42
			build=23
			description='genimage rauc test'

			[image.rootfs]
			filename=@IMAGE@.rootfs.ext4
			"
		cert = "@PATH_TO_SECRET@/development-1.cert.pem"
		key = "@PATH_TO_SECRET@/development-1.key.pem"
	}
}